<%- include('partials/header') %>


<% let counter = 0 %>

<section id="recipeContainer">
    <h2 >Showing <%= title  %></h2>

        <% for (var i =0; i < recipes.length; i++) { %>
            <div class="recipeInfo">
                <img src="/images/<%= recipes[i].thumbnail  %>" alt="<%= recipes[i].recipe  %>">
                <div>
                    <h2><%= recipes[i].recipe  %></h2>
                    <a href="http://localhost:3002/api/recipe/<%= recipes[i]._id %>" class="button">▶ READ MORE</a>
                </div>
            </div>
        <% } %>
 
</section>

  
 
<%- include("partials/blog") %>

<%- include("partials/newsletter") %>

<%- include("partials/footer") %>
