<%- include("partials/header") %>


  <div>
    <section>
    
      <img src="/images/<%= recipe.img %>" alt="<%= recipe.recipe %> photo">
      <div>
        <li><h2><%= recipe.recipe %></h2></li>

        <li><p><%= recipe.bio %></p></li>
     

      
    </section>
  </div>

  

  <%- include("partials/blog") %>

  <%- include("partials/newsletter") %>

  <%- include("partials/footer") %>
